/* content map */
@font-face {
    font-family: 'satisfy';
    src: url("../webfonts/satisfy.woff2") format('woff2'),
        url("../webfonts/satisfy.woff") format('woff'),
        url("../webfonts/satisfy.ttf") format('true type');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    margin-left: auto;
    margin-right: auto;
    background-color: #f3f3f3;
}
/* ------------------
 ****  1- Header  ****
-------------------- */

.header{
    background-image: url(../img/Banner-1.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 90vh;
    position: relative;
}
nav{
    display: flex;
    padding: 0px 10px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    font-family: 'satisfy';
    position: fixed;
    top:0;
    z-index: 1000;
}
nav img{
    width: 40px;
    padding: 5px;
}
.logo{
   color:#79b730;
   font-size: 22px;
   font-weight: bold;
   font-family: 'satisfy';
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links label, #checkbox{
    display: none;
}
.nav-links .show a{
    display: inline-block;
    padding: 5px 10px;
}
.nav-links .show a{
    color: #8c8c8a;
    font-size: 20px;
    font-family: 'satisfy';
}
.nav-links .show a:hover{
    color: #fff;
}
.nav-links .show .main-list {
    color: #fff;
}
.text-box{
    width: 40%;
    text-align: justify;
    position: absolute;
    top: 200px;
    left: 70px;
    padding: 10px;
}
.text-box h1{
    font-size: 62px;
    font-family: 'satisfy';
}
.text-box h2{
    font-size: 32px;
    font-family: 'satisfy';
    color: #fff;
}
.text-box p{
    font-size: 14px;
    color: #fff;
}
.text-box .btn1{
    display: inline-block;
    color: #79b730;
    background-color: #fff;
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 20px;
    margin-right: 10px;
}
.sec1{
    padding: 20px;
}
.right-sid{
    text-align: right;
    width: 65%;
    padding: 30px;
}
.sec1 .pic{
    width: 30%;
    margin-left: 30px;
}
.sec1 img{
    outline: 1px solid #79b730;
    width: 85%;
    padding: 10px;
    margin: 10px ;
}
.main-head{
    text-align: left;
}
 .main-head h5, .main-head h1{
    padding: 0px 30px;
    margin: 0px 35px;
    border-left: 5px solid #79b730;
}
.main-head h5{
    color: #79b730;
}
.sec1 .right-sid p {
    text-align: justify;
    padding: 10px;
    margin: 5px 25px;
}
.sec1 .con1{
    display: flex;
}
.qoute{
    border: 2px solid #fff;
    border-radius: 5px;
    text-align: center;
    margin-left: 20px;
    margin-bottom: 10px;
    padding-top: 10px;
}
.qoute a{
    color: #79b730;
    margin: 5px;
    padding: 5px 40px;
    border-radius: 5px;
}
.qoute .main-btn{
    background-color: #fff;
}
.qoute a:hover{
    background-color: #fff;
}
.sec2{
    padding-bottom: 50px;
}
.flex{
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
.info{
    position: relative;
    right: 20px;
    margin: 10px 5px;
    translate: 40px 10px;
    padding: 10px 50px;
    background-color: #fff;
    border-radius: 5px;
}
.info .icon i{
    position: absolute;
    left: 0px;
    top: 5px;
    margin: 10px 20px;
    font-size: 40px;
    color: #8c8c8a;
}
.info h1, .info .topic{
    margin: 5px;
    margin-left: 20px;
    text-align: justify;
}
.info h5{
    text-align: right;
}
.info h5 a{
    color: #79b730;
}
.sec3{
    background-image: url(../img/Banner-2.jpg);
    background-position: center;
    background-size: cover;
    padding: 100px;
    text-align: center;
}
.sec3 .main-head h5, .sec3 .main-head h1{
    color: #000;
    border-color: #000;
}
.sec3 .topic{
    text-align: justify;
    padding: 10px 0px;
    padding-left: 35px;
}
.sec4{
    background-color: #fff;
    padding: 20px;
}
.sec4 .main-head{
    margin: 10px;
}
.sub1, .sub2{
    border: 2px dotted #fff;
    text-align: center;
    background-color: #f3f3f3;
    width: 60%;
    margin: 10px;
    margin-bottom: 20px;
    margin-left: 60px;
    padding: 20px 0px;
}
.sub1 ul, .sub2 ul{
    text-align: left;
    padding: 10px 20px;
}
.sub1 ul li, .sub2 ul li{
    padding-top: 10px;
    position: relative;
}
.sub1 ul li span, .sub2 ul li span{
    color: #79b730;
    text-align: right;
    position: absolute;
    right: 0px;
}
.sub1 .wrong, .sub2 .wrong{
    color: #de2f40;
}
.sub1 .title{
    color: #79b730;
    font-size: 28px;
    padding: 10px;
}
.sub2 .title{
    color: #000;
    font-size: 28px;
    padding: 10px;
}
.sub1 .offer, .sub2 .offer{
    padding: 10px;
}
.sub1 .offer, .sub1 .btn-1{
    font-size: 28px;
    color: #fff;
    background-color: #79b730;
}
.sub1 .offer sup, .sub2 .offer sup,.sub1 .offer sub, .sub2 .offer sub{
    font-size: 10px;
    font-weight: lighter;
}
.sub2 .offer, .sub2 .btn-1, .sec3 .btn-1{
    font-size: 28px;
    color: #fff;
    background-color: #000;
}
.sub1 .btn-1, .sub2 .btn-1, .sec3 .btn-1{
    font-size: 15px;
    padding: 5px;
    border-radius: 20px;
    border: 0px solid #79b730;
}
.sec5{
    padding: 10px;
    background-color: #fff;
    padding-left: 70px;
}
.sec5 .con2{
    display: flex;
    margin: 10px;
    background-color: #f3f3f3;
}
.con2 img{
    flex: 1;
    text-align: left;
    width: 40%;
    margin: 10px;
}
.con2 .sid1{
    padding: 10px;
}
.con2 .main-head h5, .con2 .main-head h1{
    font-size: 13px;
    padding: 5px 10px;
    margin: 0px;
}
.con2 .main-head h1{
    font-size: 15px;
}
.con2 p{
    margin: 10px;
}
footer {
    padding: 15px;
}
.con3, .con4, .con5{
    text-align: left;
    padding-left: 30PX;
    margin: 20PX;
}
.con3 P, .con3 h4{
  text-align: justify;
  margin: 10px;
  padding-left: 30PX;
  color: #8c8c8a;
}
.con3 h4 i, .con4 h4 i, .con5 a{
    color: #79b730;
}
.con4 h4{
    margin: 10px;
    padding-left: 30PX;
    color: #8c8c8a;
}
.con4 h4 a{
    color: #656563;
}
.con5 .mail{
    border: 1px solid #8c8c8a ;
    padding: 10px;
    margin: 10px;
    margin-left: 35px;
    margin-right: 0px;
}
.con5 button{
    padding: 10px;
    color: #fff;
    background-color: #79b730;
    border: 1px solid #8c8c8a;
}
 .con5 h5, .con5 .icon{
    padding-left: 30px;
    margin: 5px;
    margin-top: 10px;
}
.con5 .icon a{
    padding: 5px;
    margin: 5px;
    border: 1px solid #79b730;
}
@media (max-width: 768px) {
    .container{
       width: 100%;
    }
    .header{
        height: 70vh;
    }
    .nav-links .show{
        display: none;
    }
    .text-box{
        top: 100px; 
        left: 30px;
        height: 50px;
    }
    .text-box h1{
        font-size: 26px;
        font-weight: bold;
    }
    .text-box h2{
        font-size: 20px;
        font-weight: bold;
    }
    .text-box p{
        font-size: 15px;
    }
    .text-box .btn1{
        margin: 5px auto;
        font-size: 10px;
        padding: 6px 10px;
    }
    .nav-links label{
        display: block;
        color: #fff;
    }
    #checkbox:checked+ .show{
        display: block;
        position: absolute;
        background: black;
        text-align: center;
        right: 0px;
        top: 41px;
        padding: 10px 20px;
        width: 40%;
    }
    .nav-links .show a{
        display: block;
        padding: 10px 20px;
    }
    .nav-links .show a:hover{
        border-bottom:2px solid #fff;
        background-color: #79b730;
    }
    .sec1{
        flex-direction: column;
    }
    .sec1, .sec2{
        text-align: center;
    }
    .con1{
        flex-direction: column;
    }
    .right-sid{
        text-align: left;
        width: 95%;
    }
    .sec1 .pic{
        width: 95%;
    }
    .main-head{
        text-align: left;
    }
    .sec1 .right-sid p {
        text-align: justify;
        padding: 10px;
        margin: 5px 25px;
    }
    .flex{
        flex-direction: column;
    }
    .info{
        text-align: left;
        margin: 50px;
        justify-content: center;
    }
    .sec3{
        padding: 40px;
    }
    .sec4 .sub1, .sec4 .sub2 {
        translate: 85px 0px;
        margin: 10px;
    }
    .sec5{
        padding: 0px;
    }
    .con5 button{
        margin-left: 40px;
    }
}
@media (max-width: 992px) {
    footer .flex{
        flex-direction: column;
    }
    .text-box {
        width: 40%;
        text-align: justify;
        position: absolute;
        top: 45px;
        left: 70px;
        padding: 10px;
    }
}
